.admin__fieldset > .admin__field > .admin__field-label {
    width: 150px;
    float: left;
    margin-left:0px;
}
[class*='admin__control-grouped'] > .admin__field:first-child > .admin__field-label,
.admin__control-fields > .admin__field:first-child > .admin__field-label {
    width: 150px;
    float: left;
    margin-left: 0px;
    background: #ffffff;
    cursor: pointer;
    left: 0;
    position: absolute;
    top: 0;
}
.admin__fieldset > .admin__field > .admin__field-control {
    width: 75%;
    float: left;
    margin-left: 30px;
}
.data-grid .data-grid-draggable-row-cell {
    width:30px;
}
.data-grid > .position {
    width:75px;
}
.draggable {
    content: '\e617';
    font-family: 'Admin Icons';
    color: #9e9e9e;
    cursor: -webkit-grab;
}

.jqplaceholder {
    height:25px;
    border:3px dotted #cc0000;
}

.gradus_fields {
    padding:5px;
    padding-bottom:10px;
    border:1px solid #DDDDDD;
}

.gradus_label {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 3.2rem;
    padding: 3px;
    white-space: nowrap;
}

.dragger {
    float:left;
}

.gradus_text_large {
    width: 80%;
    -webkit-appearance: none;
    background-color: #ffffff;
    border: 1px solid #adadad;
    border-radius: 1px;
    box-shadow: none;
    color: #303030;
    font-size: 1.4rem;
    font-weight: 400;
    height: auto;
    line-height: 1.36;
    padding: 0.6rem 1rem 0.6rem;
    transition: border-color 0.1s linear;
    vertical-align: baseline;
}
.gradus_text_small {
    width: 30%;
    -webkit-appearance: none;
    background-color: #ffffff;
    border: 1px solid #adadad;
    border-radius: 1px;
    box-shadow: none;
    color: #303030;
    font-size: 1.4rem;
    font-weight: 400;
    height: auto;
    line-height: 1.36;
    padding: 0.6rem 1rem 0.6rem;
    transition: border-color 0.1s linear;
    vertical-align: baseline;
}

.gradus_text_mini {
    width: 5%;
    -webkit-appearance: none;
    background-color: #ffffff;
    border: 1px solid #adadad;
    border-radius: 1px;
    box-shadow: none;
    color: #303030;
    font-size: 1.4rem;
    font-weight: 400;
    height: auto;
    line-height: 1.36;
    padding: 0.6rem 1rem 0.6rem;
    transition: border-color 0.1s linear;
    vertical-align: baseline;
}

.gradus_text_medium {
    width: 65%;
    -webkit-appearance: none;
    background-color: #ffffff;
    border: 1px solid #adadad;
    border-radius: 1px;
    box-shadow: none;
    color: #303030;
    font-size: 1.4rem;
    font-weight: 400;
    height: auto;
    line-height: 1.36;
    padding: 0.6rem 1rem 0.6rem;
    transition: border-color 0.1s linear;
    vertical-align: baseline;
}

.search_select {
    width:400px;
    margin-right:5px;
}
.select_pad {
    padding:5px;
}

.draggable-handle, .draggable-handle2 {
    display: inline-block;
    cursor: move;
    width: 15px;
    height: 15px;
    /*background-image: url(../images/draggable.png);*/
    background-size: 15px;
    padding: 5px;
    margin-right: 10px;
    margin-left: 5px;
}

.draggable-handle3 {
    display: inline-block;
    cursor: move;
    width: 15px;
    height: 15px;
    background-image: url(../images/draggable.png);
    background-size: 15px;
    padding: 5px;
    margin-right: 10px;
    margin-left: 5px;
}