<?xml version="1.0"?>
<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Gradus_Catalog::catalog_products_downloads" title="Downloads" translate="title" module="Gradus_Downloads" sortOrder="14" parent="Magento_Catalog::inventory"
             action="downloads/downloads/index/" resource="Gradus_Downloads::downloads"/>
    </menu>
</config>
